header {
  background-image: url(profile.jpg);
  background-size: cover;
  height: 600px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Comic Sans MS";
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-me {
  display: flex;
  flex-direction: row-reverse;
}

img {
  height: 300px
}

body {
  background-color: lightpink;
}

Footer {
  background-color: white;
  padding: 10px;
  font-family: "Comic Sans MS";
}



Use your CSS skills to restyle the page!

Requirements:
1. Properly use at least one id selector, class selector and tag selector.
2. Restyle at least three elements however you want.
3. Use flexbox to:
  1. Center an element
  2. Create columns in one section
*/
